/* src/index.css */
body {
  font-family: 'helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.App {
  text-align: center;
  margin: 20px auto; /* Center the app container */
  max-width: 950px;  /* Set maximum width */
}
.profile-header {
  display: flex;
  align-items: center;  /* Vertical alignment within the flex container */
  padding: 20px;
  border-bottom: 1px solid #dbdbdb; /* Light border at the bottom */
}
/* Avatar styling */
.avatar-container {
  flex-basis: 25%; /* Avatar container takes up 1/4 */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover; /* Ensures the image covers the entire container without distortion */
}
.profile-info {
  flex-basis: 75%; /* Profile info takes up 3/4 */
  padding-left: 5vw; /* Space between avatar and profile info */
  text-align: left;
}
/* Name and bio styling */
.profile-details h1 {
  font-size: 18px; /* Larger font size for username */
  margin: 0;
  padding-bottom: 24px; /* Space between username and bio */
}
.profile-details p {
  font-size: 14px; /* Smaller font size for bio */
  margin: 5px 0;
  color: #333; /* Color for bio and other text */
  font-family: 'Courier New semi', Courier, monospace; /* Apply Courier New font */
}
.profile-details a {
  font-size: 12px;
  display: inline-block;
  margin-top: 10px;
  color: ##0e3278; /* Darker blue color for the link */
  text-decoration: none; /* Remove underline */
}
.profile-details a:hover {
  text-decoration: underline; /* Add underline on hover */
}
/* Styling for buttons */
.nav-links {
  position: absolute;
  top: .55rem;
  right: .5rem;
  display: flex; /* Display buttons in a row */
  gap: .5rem; /* Space between the buttons */
}
.nav-links button {
  background-color: #dddddd; /* Instagram-like blue button */
  color: #333333; /* White text */
  border: none; /* Remove border */
  padding: 4px 12px; /* Button padding */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}
.nav-links button:hover {
  background-color: #cccccc; /* Darker button color on hover */
}